In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 
'londON_StockhOlm',
'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})

In [3]:
df

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

In [5]:
df.head()

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

In [36]:
df['FlightNumber']= df['FlightNumber'].interpolate().astype(int)

In [15]:
temporary_dataframe=df.From_To.str.split('_',expand=True)
temporary_dataframe.columns=["From","To"]
temporary_dataframe

       From         To
0    LoNDon      paris
1    MAdrid      miLAN
2    londON  StockhOlm
3  Budapest      PaRis
4  Brussels     londOn

In [16]:
temporary_dataframe['From']=temporary_dataframe['From'].str.capitalize()
temporary_dataframe['To']=temporary_dataframe['To'].str.capitalize()

In [18]:
temporary_dataframe

       From         To
0    London      Paris
1    Madrid      Milan
2    London  Stockholm
3  Budapest      Paris
4  Brussels     London

In [38]:
df_1=df.drop('From_To',axis=1)
df_1=df.join(temporary_dataframe)
df_1

KeyError: "['From_To'] not found in axis"

In [28]:
df_RecentDelays=pd.DataFrame(df["RecentDelays"].values.tolist())

In [29]:
df_RecentDelays.columns = ['delay_{}'.format(n) for n in range(1, len(df_RecentDelays.columns)+1)]

In [30]:
df_RecentDelays.columns

Index(['delay_1', 'delay_2', 'delay_3'], dtype='object')

In [31]:
df_RecentDelays

   delay_1  delay_2  delay_3
0     23.0     47.0      NaN
1      NaN      NaN      NaN
2     24.0     43.0     87.0
3     13.0      NaN      NaN
4     67.0     32.0      NaN

In [32]:
df=df.drop('RecentDelays',axis=1)
df=df.join(df_RecentDelays)

In [33]:
df

,FlightNumber,Airline,From,To,delay_1,delay_2,delay_3
0,10045,KLM(!),London,Paris,23.0,47.0,NaN
1,10055,<Air France> (12),Madrid,Milan,NaN,NaN,NaN
2,10065,(British Airways. ),London,Stockholm,24.0,43.0,87.0
3,10075,12. Air France,Budapest,Paris,13.0,NaN,NaN
4,10085,"""Swiss Air""",Brussels,London,67.0,32.0,NaN